/* ==========================================================================
   varela-metrics2 theme skin
   ========================================================================== */

/* Colors */
$base-color: #000000 !default;
$text-color: #DFE0DF !default;
$accent-color: #FFBD59 !default;
$background-color: #000000 !default;
$code-background-color: #AD8B5D !default;
$border-color: rgba($text-color, 0.5) !default;
$overlay-color: #FFBD59 !default;

/* Base font family */
$base-font-family: "Futura", sans-serif !default;



